.ButtonSecondary {
  background-color: var(--dark-blue);
  border: none;
  border-radius: 25px;
  color: var(--white);
  width: 120px;
  cursor: pointer;
  font-size: 15px;
  height: 36px;
}

.ButtonSecondary:hover {
  background-color: var(--yellow);
  color: var(--dark-blue);
}
