.StorySection {
  background-color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 40px;
  overflow: hidden;
}

.StorySection-h2 {
  color: var(--yellow);
  font-size: 44px;
  margin-bottom: 0;
}

.StorySection-p {
  color: var(--dark-blue);
  font-size: 20px;
  margin-bottom: 44px;
  text-align: center;
}

.StorySection-container {
  width: 100%;
  max-width: 1100px;
  margin-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: 20px;
}

.StorySection-container--div {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;
}

.container-div--img {
  position: absolute;
  top: 0;
  left: calc(50% - 70px);
  width: 140px;
}

.container-div--texts {
  border: 1px solid var(--hospital-purple);
  border-radius: 10%;
  height: 400px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texts-info {
  margin-top: 100px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texts-info p {
  color: var(--dark-blue);
  font-size: 16px;
  margin: 0;
}

.texts-info h3 {
  margin: 0;
  color: var(--hospital-purple);
  font-size: 20px;
}

.texts-comment {
  margin-left: 20px;
  margin-right: 20px;
  color: var(--dark-blue);
  font-size: 16px;
  text-align: justify;
}