.ButtonPrimary {
  background-color: var(--hospital-purple);
  border: none;
  border-radius: 25px;
  color: var(--white);
  width: 120px;
  cursor: pointer;
  font-size: 15px;
  height: 36px;
  z-index: 10;
  font-weight: bold;
}

.ButtonPrimary:hover {
  background-color: var(--yellow);
  color: var(--dark-blue);
}
