.LearnSection {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.LearnSection-divContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.LearnSection-h2 {
  color: var(--yellow);
  font-size: 48px;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.LearnSection-nav {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: scroll;
  scroll-behavior: auto;
  max-width: 1400px;
}

.LearnSection-nav::-webkit-scrollbar {
  display: none;
}

.LearnSection-nav--a {
  width: 100px;
  color: var(--white);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgContainer {
  width: 100px;
  height: 100px;
  display: grid;
  place-items: center;
}

.imgContainer-div--img {
  width: 90px;
  height: 90px;
}

.imgContainer-div--img---display {
  display: none;
}

.imgContainer-div--img2 {
  width: 100px;
  height: 100px;
}

.LearnSection-nav--a---p {
  color: var(--dark-blue);
  font-size: 18px;
}

.LearnSection-nav--a---p---hover {
  color: var(--hospital-purple);
  font-weight: bold;
}

.LearnSection-nav--arrow {
  width: 40px;
  height: 40px;
  display: none;
}

@media (max-width: 640px) {
  .LearnSection-nav--arrow {
    display: block;
  }

  .LearnSection-nav {
    width: calc(100% - 70px);
    justify-content: space-between;
  }

  .LearnSection-nav--a {
    margin-left: calc(10vw);
    margin-right: calc(10vw);
  }
}