header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 180px;
  height: 52px;
  margin-left: 120px;
  display: grid;
  place-items: center;
}

.header-menu--mobile {
  display: none;
}

.header-logo--img {
  width: 180px;
  height: 48px;
}

.header-logo--imgMobile {
  width: 40px;
  display: none;
}

.header-user--mobile {
  display: none;
}

@media (max-width: 1200px) {
  .header-logo {
    margin-left: 20px;
  }
}

@media (max-width: 940px) {
  .header-logo {
    margin-left: 0;
  } 

  .header-menu--mobile {
    display: block;
    width: 40px;
    height: 40px;
    color: var(--dark-blue);
    margin-left: 20px;
  }

  .header-user--mobile {
    display: block;
    width: 40px;
    height: 40px;
    color: var(--dark-blue);
    margin-right: 20px;
  }
}

@media (max-width: 380px) {
  .header-logo--img {
    display: none;
  }

  .header-logo--imgMobile {
    display: block;
  } 
}