.circle {
  position: relative;
  width: var(--diameter);
  height: var(--diameter);
  background-color: var(--dark-blue);
  border-radius: 50%;
  overflow: hidden;
  border: 1px var(--dark-blue) solid;
  display: flex;
  place-content: center;
}

.container-cono5 {
  position: absolute;
  width: 0;
  height: 0;
  border: solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
}

.container {
  position: absolute;
  background-color: transparent;
  width: 1px;
  height: var(--height);
  display: flex;
  place-content: center;
  transform-origin: bottom center;
  transition: transform 0.5s ease-in-out;
}

.container-button5 {
  position: absolute;
  top: 0;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  border: none;
}